table {
  table-layout: fixed;

  margin-inline: auto;
}

th,
td {
  padding: 0.25rem var(--standard-spacing);
}

th {
  vertical-align: top;
}

@media screen and (max-width: 300px) {
    td {
        display: block;
    }
}